body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

/*        Top Section */

.section-top{
    width: 80%;
    margin: 60px auto;
    display: flex;

}

.half-div{
    width: 50%;
}
.half-div h1 {
    padding: 0 0 0 15px;
    font-size: 50px;
    border-left: 4px salmon solid;
}
.half-div img {
    width: 100%;
}
.color-spa{
    color: rgb(255, 165, 0);
}
.half-div p {
    font-size: 20px;
    color: #313131;
    margin-bottom: 50px;
}
.link-button {
    color: wheat;
    font-size: 20px;
    text-decoration: none;
    background-image: radial-gradient(tomato, salmon);
    padding: 12px 30px;
    border-radius: 8px;
}
.half-div h6 {
    font-size: 20px;
    color: #313131;
}





/*     Mission-section */


.mission-section{
    width: 80%;
    margin: auto;

}

.mission-section h1{
    font-size: 50px;
    text-align: center;
    color: rgb(0, 0, 26);
}
.mission-section .my-mission{
    display: flex;
    margin: auto;
}
.mission-section .my-mission .col-3 {
    box-sizing: border-box;
    width: 30%;
    margin-right: 5%;
    border-radius: 30px;
}
#col-3-last {
    margin-right: 0;
}
.col-3 img{
    max-height: 200px;
    width: auto;
    margin: 0;
    padding: 0;
}
.color-back1{
    background-color:rgb(206, 212, 212);
}
.color-back2{
    background-color:rgb(247, 215, 220);
}
.color-back3{
    background-color: rgb(204, 178, 178);
}
.col-3 p{
    padding: 5px 15px 5px 20px;
}
.col-3 h3{
    font-size: 30px;
    margin: 0;
    padding-left: 20px;
}

/*         develop section */

.develope-section{
    background-image: url(images/picture/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position-x:  50px;
    background-position-y: 70px;

}
.unlimited-develope {
    display: flex;
    width: 80%;
    margin: 80px auto;
}
.picture-area{
    width: 40%;

}
.picture-area img{
    width: 100%;
}

.text-area{
    padding: 10px 20px 0 20px;
    width: 55%;
    margin-left: 5%;
}

.text-area h1{
    margin-bottom: 5px;
    font-size: 50px;
    color: rgb(0, 0, 24);
}
.text-area p{
    font-size: 20px;
    color: rgb(14, 13, 13);
    margin-bottom: 40px;
}

/*      Community section  */


.community-section{
    background-image: url(images/picture/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position-x: 95%;
    background-position-y: 95%;

}
.our-community {
    display: flex;
    width: 80%;
    margin: 80px auto;
}
#community-text{
    margin:0 10% 0 0;
    padding: 0;
}
#community-img{
    margin: 100px 0 100px 0;
}


/*       Website section */

.website-section h1 {
    font-size: 50px;
    width: 80%;
    margin: 40px auto;
    text-align: center;
}

.covid-newzz{
    display: flex;
    width: 80%;
    margin: auto;
}
.covid-newzz h2{
    margin-top: 80px;
    font-size: 40px;
}
#website-text-area {
    padding-left: 100px;
}
#website-img-area img {
    max-width: 600px;
}


/*          Footer    */


footer{
    margin-top: 120px;
    color: rgb(194, 194, 194);
    background-color: rgb(4, 4, 20);
}
footer h1{
    font-family: 'Courgette', cursive;
    padding-top: 40px;
    text-align: center;
}
footer p{
    margin: 0;
    text-align: center;
    padding-bottom: 50px;
}
